<div class="container">
    <div class="mdc-layout-grid">
        <div class="text-center">
            <h3 class="page-title">Phiếu đăng ký dự thi môn vẽ mỹ thuật tuyển sinh </h3>

        </div>
        <form id="login" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h4 class="online-steps-heading">THÔNG TIN THÍ SINH</h4>
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-8">
                    <mat-form-field appearance="outline">
                        <mat-label>Họ và tên (*)</mat-label>
                        <input matInput type="text" formControlName="name" placeholder="Viết đúng như trong giấy khai sinh bằng chữ in hoa có dấu" aria-label="Username">
                        <mat-error class="error-message" *ngIf="form.get('name').invalid && submited">
                            <span *ngIf="form.get('name').hasError('required')">Vui lòng nhập dữ liệu</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mdc-layout-grid__cell--span-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Giới tính (*)</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let item of genders" [value]="item.value">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="error-message" *ngIf="form.get('gender').invalid && submited">
                            <span *ngIf="form.get('gender').hasError('required')">Vui lòng nhập dữ liệu</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell--span-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Ngày sinh (*)</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="dd/mm/yyyy">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error class="error-message" *ngIf="form.get('birthday').invalid && submited">
                            <span *ngIf="form.get('birthday').hasError('required')">Vui lòng nhập dữ liệu</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Số Chứng minh nhân dân / Thẻ căn cước công dân (*)</mat-label>
                        <input matInput (keypress)="numberOnly($event)" type="text" formControlName="identity_card" placeholder="Số Chứng minh nhân dân / Thẻ căn cước công dân" maxlength="12" aria-label="identity_card">
                        <mat-error class="error-message" *ngIf="form.get('identity_card').invalid && submited">
                            <span *ngIf="form.get('identity_card').hasError('required')">Vui lòng nhập dữ liệu</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Địa chỉ liên lạc (*)</mat-label>
                        <input matInput type="text" formControlName="address" placeholder="Địa chỉ" aria-label="address">
                        <mat-error class="error-message" *ngIf="form.get('address').invalid && submited">
                            <span *ngIf="form.get('address').hasError('required')">Vui lòng nhập dữ liệu</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell--span-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Điện thoại (*)</mat-label>
                        <input matInput (keypress)="numberOnly($event)" type="text" formControlName="mobilephone" placeholder="Số điện thoại" aria-label="address">
                        <mat-error class="error-message" *ngIf="form.get('mobilephone').invalid && submited">
                            <span *ngIf="form.get('mobilephone').hasError('required')">Vui lòng nhập dữ liệu</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mdc-layout-grid__cell--span-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Email (*)</mat-label>
                        <input matInput type="text" formControlName="email" placeholder="Email" aria-label="email">
                        <mat-error class="error-message" *ngIf="form.get('email').invalid && submited">
                            <span *ngIf="form.get('email').hasError('required')">Vui lòng nhập dữ liệu</span>
                            <span *ngIf="form.get('email').hasError('email')">Email không đúng định dạng</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <p class="p-custom">
                        Đăng ký dự thi môn: Vẽ mỹ thuật (Nộp kèm ảnh khổ 3x4, Lưu ý: Chỉ chấp nhận file ảnh có đuôi jpg, jpeg, png)
                    </p>
                </div>
            </div>

                <div class="mdc-layout-grid__cell--span-6">
                  <div class="input-group">
                    <div class="custom-file">
                        <form action="/api/upload" method="post" enctype="multipart/form-data">
                          <!-- <input (change)="fileChange($event)"  type="file" ng-model="up.file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">

                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label> -->
                      <div class="form-group">
                          <label for="example-input-file"  type="file" ng-model="up.file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"> </label>
                          <input #inputFile type="file" (change)="fileChange($event)" id="fileInputId" name="file" class="form-control-file border">
                      </div>
                      <!-- <div>
                          <button type="submit" class="btn btn-primary" (click)="upload()" id="btnUpload">Upload</button>
                      </div> -->
                    </form>
                    </div>

                  <!-- <form action="/api/upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="example-input-file"> </label>
                        <input type="file" name="file" class="form-control-file border">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form> -->
                </div>
                </div>
            <br>
            <br>
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <p class="p-custom">
                        Lưu ý: Mỗi CMTND chỉ được lưu 1 lần, vui lòng kiểm tra kỹ các thông tin trước khi lưu
                    </p>
                </div>
            </div>


            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12 text-center">
                    <button mat-flat-button color="primary" [disabled]="waiting">  <mat-icon matSuffix>save</mat-icon>  Lưu </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">
  <table width="100%">
    <tbody><tr bgcolor="#F4F4F4" style="text-align: left; font-family: sans-serif; color: black; font-size: 15px">
      <td>Phòng Khảo thí và Đảm bảo chất lượng đào tạo  <br>
        Địa chỉ email: @utc2.edu.vn <br> Điện thoại:
      </td>
      <td style="text-align: right; vertical-align: top">Phiên bản cập
        nhật ngày: 05/05/2020 <br> Phát triển hệ thống: ThS. Nguyễn Lê Minh (BM CNTT UTC2) <br> KS. Trần Thị Dung (BM CNTT UTC2) <br> Liên hệ: nlminh@utc2.edu.vn
      </td>
    </tr>
  </tbody></table>
  <br>
</div>
