<div class="container">
  <a routerLink="/form1">
      <mat-icon class="icon">input</mat-icon>
      <span  class="label">Link đến form1</span>
  </a>
  <a routerLink="/form2">
      <mat-icon class="icon">input</mat-icon>
      <span  class="label">Link đến form2</span>
  </a>
  <a routerLink="/form3">
      <mat-icon class="icon">input</mat-icon>
      <span  class="label">Link đến form3</span>
  </a>
  <a routerLink="/login">
      <mat-icon class="icon">input</mat-icon>
      <span  class="label">Link đến login</span>
  </a>
  </div>
